src/main/resources/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.sap.com/schema/user"
  xmlns:tns="http://www.sap.com/schema/user" elementFormDefault="qualified">
  <element name="test">
    <complexType>
      <attribute name="id" type="string"/>
      <attribute name="userName" type="string"/>
      <attribute name="email" type="string"/>
    </complexType>
  </element>
</schema>